@import "variables";
:host{
    display: block;
}
.navbar{
    transition: all 0.2s ease 0s;
    &.fixed-top{
        top: 0;
        box-shadow: $box-shadow;
        z-index: 1031;
        position: fixed;
        animation-name: navbar-subnav-slide;
        animation-duration: 0.2s;
        background-color: $light;
    }
    &.expand{
        top: calc(#{$app-navbar-height} + 35px);
    }
    h3{
        max-width: 95%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.headerContainer{
    height: auto;
    label{
        white-space: nowrap;
    }
    .nav-link{
        padding: 0.5rem 1rem;
        border: none;
        border-bottom: 3px solid transparent;
        border-radius: 0;
        margin-bottom: -2px;
        color: var(--bs-body-color);
        &.active, &:hover{
            color: var(--bs-primary);
            border-bottom-color: var(--bs-primary);
            background-color: transparent;
        }
    }
    .actions{
        white-space: nowrap;
        // overflow: hidden;
        &.primary-actions{
            height: auto;
            >div{
                display: flex;
                align-items: center;
                border-left: 1px solid var(--bs-border-color);
            }
        }
        &.secondary-actions{
            height: auto;
            >div{
                display: flex;
                align-items: center;
                border-left: 1px solid var(--bs-border-color);
            }
        }
    }
}
